body{
    background-color: red;
    text-align: center;
}
.text1{
    color: white;}
   .fon1{ 
background-color: white;
text-align: center;
    .text2{
        color: black;
    text-align: left;}
        .text3{
            color: black;
        text-align: left;}
            .text4{
                color: green;
            text-align: left;}
                .text5{
                    color: green; 
                text-align: left;}}

.matn1{
    color: black;
    text-align: center;}
    .matn2{
        color: black;
        text-align: center;}
        .matn3{
            color: green;
        text-align: center; }
            .matn4{
                color: green;
            text-align: center; }
                
.matn5{
    color: green;
    text-align: center;
}
.matn6{
    color: black;
    text-align: center;
}
.matn7{
    color: black;
    text-align: center;
}
.matn8{
    color: red;
    text-align: center;
}
.matn9{
    color: red;
    text-align: center;
}
.matn10{
    color: red;
    text-align: center;
}
.matn11{
    color: red;
    text-align: center;
}
